{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Start Welcome Section-->

<section id="home" class="welcome-section">
    <img id="profile-pic" src="{% static 'images/Puskar.jpg' %}" alt="{{ personal_info.name }}" width="180", height="200">
    <h1>Hi, I am {{ personal_info.name }} !</h1>
    <p>a {{ personal_info.job_title }}</p>
</section>

<!--End Welcome Section-->
<!--Start Project Section-->

<section id="project" class="project-section">


    <h2 id="project-section-header">
        My Projects
    </h2>
    <div class="project-grid-container">
        {% if projects %}
            {% for project in projects %}
                <div class="project-grid-item">
                    <a href="{% url 'portfolio:project_detail' project_id=project.pk %}" class="project-title">
                        <p class="project-title">{{ project.title }}
                        </p>
                        {% if project.image %}
                            <img class="project-image" src="{{ project.image.url }}" alt="{{ project.title }} image">
                        {% else %}
                            <img class="project-image" src="{% static 'images/MyProject.png' %}" alt="{{ project.title }} image">
                        {% endif %}          
                        <p>{{ project.description | slice:':80' }}...</p>
                    </a>
                </div>
            {% endfor %}    
        {% else %}
            <h4 id="project-noproject">
                No projects yet!
            </h4>
        {% endif %}
    </div>
    <a href="{% url 'portfolio:show_all_projects' %}" class="btn btn-show-all">Show all<i class="fas fa-chevron-right"></i>
    </a>

</section>

<!--End project section-->

<!--Start blog section-->

    {% include 'blog/blog.html' %}

<!--End blog section-->


<!--Start Contacts Section-->

<section class="contact-section" id="contact">
    <div class="contact-section-header">
        <h2>Let's work together...</h2>
        <p>How is your day going?</p>
    </div>
    <div class="contact-links">
        <a href="https://www.linkedin.com/in/puskarjoshi" class="btn contact-details" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a href="https://www.github.com/jopuskar" class="btn contact-details" target="_blank"><i class="fab fa-github"></i> Github</a>
        <a href="https://instagram.com/puskarjoshi_" class="btn contact-details" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="https://twitter.com/impuskarjoshi" class="btn contact-details" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="mailto:puskarjoshi22@gmail.com" class="btn contact-details" target="_blank"><i class="fas fa-at"></i> Send a mail</a>
    </div>
</section>

<!--End Contacts Section-->

{% endblock %}