{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="project-detail" class="project-detail">
    <h2 id="project-detail-header">
        {{ project.title }}
    </h2>

    <div class="project-image-container">
        {% if project.image %}
            <img class="project-image" src="{{ project.image.url }}" alt="{{ project.title }} image">
        {% else %}
            <img class="project-image" src="{% static 'images/MyProject.png' %}" alt="{{ project.title }} image">
        {% endif %}
    </div>

    <div class="project-text-container">
        <p>
            {{ project.description }}
        </p>
    </div>
    <div class="show-all-button">
        <a href="{% url 'portfolio:show_all_projects' %}" class="btn btn-show-all">
            <i class="fas fa-chevron-left"></i> All Projects
        </a>
    </div>

</section>

{% endblock %}