{% extends 'base.html' %}   
{% load static %}

{% block content %}

    <section id="project" class="project-section">
        <h2 id="project-section-header">
            All Projects
        </h2>
        <div class="project-grid-container">
        {% for project in projects %}
            <div class="project-grid-item">
                <a href="{% url 'portfolio:project_detail' project_id=project.pk %}" class="project-title">
                    <p class="project-title">{{ project.title }}
                    </p>
                    <img class="project-image" src="{%  static project.image.url %}" alt="{{ project.title }} image">
                    <p>
                        {{ project.description | slice:':80' }}...
                    </p>
                </a>
            </div>    
        {% endfor %}
        </div>
        <a href="{% url 'portfolio:show_all_projects' %}" class="btn btn-show-all">
            Show all<i class="fas fa-chevron-right"></i>
        </a>

    </section>

{% endblock %}