db.sqlite3

puskarjoshi/local_settings.py

#mediafiles
media/

#staticfiles
assets/

*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

# Ignore virtual environment directories and files
puskarjoshi/Lib/
puskarjoshi/Scripts/
puskarjoshi/pyvenv.cfg

#database
*migrations
*venv
*.sql
