{% extends "base.html" %}

{% load static %}

{% block content %}
<section id="post" class="post-section">
    <h2 id="post-section-header">
        All Blogs
    </h2>
    <div class="post-grid-container">
    {% if posts %}
    {% for post in posts %}
        <div class="post-grid-item">
            <a href="{% url 'blog:blog_detail' post_id=post.pk %}" class="post-title">
                <p class="post-title">{{ post.title }}
                </p>
                {% if post.image %}
                    <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }} image">
                {% else %}
                    <img class="post-image" src="{% static 'images/MyBlog.png' %}" alt="{{ post.title }} image">
                {% endif %}         
                <p>
                    {{ post.content | slice:':80' }}...
                </p>
            </a>
        </div>    
    {% endfor %}
    {% else %}
    <h4 id="post-nopost">
        No posts yet!
    </h4>
    {% endif%}
    </div>
    <a href="{% url 'blog:all_blogs' %}" class="btn btn-show-all">
        Show all<i class="fas fa-chevron-right"></i>
    </a>

</section>

{% endblock %}