{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="post-detail" class="post-detail">
    <h2 id="post-detail-header">
        {{ post.title }}
    </h2>

    <div class="post-author">
        <img class="author-image" src="{{ post.author.profile.profile_pic.url }}" alt="{{ post.author.profile.get_full_name }} image">
        <p class="author-name">{{ post.author.profile.get_full_name }}</p>
        <p class="post-date">{{ post.created_on|date:"F j, Y" }} </p>
    </div>
    
    <div class="post-image-container">
        {% if post.image %}
            <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }} image">
        {% else %}
            <img class="post-image" src="{% static 'images/MyBlog.png' %}" alt="{{ post.title }} image">
        {% endif %}
    </div>

    <div class="post-text-container">
        <p>
            {{ post.content }}
        </p>
    </div>
    <div class="show-all-button">
        <a href="{% url 'blog:all_blogs' %}" class="btn btn-show-all">
            <i class="fas fa-chevron-left"></i> All Blogs
        </a>
    </div>

</section>

{% endblock %}